/* #region global */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
   font-family: 'Montserrat' !important ;
}

#back-to-top{
    position: fixed;
    bottom: 70px;
    right: 20px;

}

/* #endregion global */

/* #region navbar */

nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    background-color: #191919;
    justify-content: space-between;
    /* color:rgb(44, 42, 42); */
}

.socials-item{
    cursor: pointer;
    color: #fffafaad;
}

.socials-item:hover{
    transition: .8s;
    color: #fffafa;
}


/* #endregion navbar */

/* #region produto */

.product{
    background-color: rgb(245, 245, 245);
}

@media (max-width: 1200px ){
    .brk{
        margin-top: .3rem;
    }
}

@media (max-width: 1000px ){
    .brk{
        margin-top: 2rem ;
    }

    .product{
        background-color: rgba(245, 245, 245, 0);
    }
}
/* #endregion produto */


/* #region best */

.best{
    background-image: url(../img/bgBest03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80dvh;
}


/* #endregion best */